<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add  connectionString="mongodb://localhost" name="MongoServer"/>
  </connectionStrings>
  <appSettings>
    <add key="MongoDatabaseName" value="webcorp-erp" />
    <add key="passphrase" value="lorem ipsum"/>
  </appSettings>
</configuration>